.team {
  text-align: "center";
}

a.link {
  color: midnightblue;
}
.answer {
  margin-bottom: 10px;
}
.intro h4 {
  margin-bottom: 10px;
}
.materialboxed {
  max-height: 240px;
}

.user-study--header {
  font-weight: bold;
  margin-bottom: 5px;
}

.disclaimer {
  h6 {
   font-weight: bold;
   margin-bottom: 5px; 
  }
}