.arduino-home {
  color: #d32f2f;
  background: white;
  font-family: "museo", "serif";
  font-weight: 300;
  a {
    color: #d32f2f;
    i.logo {
      color: #d32f2f;
    }
  }

  .arduino-container {
    font-family: "museo", "serif";
    height: 800px;
    h4 {
      color: #d32f2f;
      font-weight: 100;
      text-align: center;
      font-size: 24px;
    }


  }
}

.arduino-container:before {
  border-left: #d32f2f;
}